html {
   font-size: 62.5%;
}

body {
   @include textFont(20);
   background: $white;
}

.outerWrapper {
   width: 85%;
   max-width: 1280px;
   margin: 0 auto;
}

.innerWrapper {
   width: 80%;
   margin: 0 auto;
}

.App {
   height: 100vh;
}