html {
   font-size: 62.5%;
}

body {
   @include textFont(20);
}

.outerWrapper {
   width: 85%;
   margin: 0 auto;
}

.innerWrapper {
   width: 80%;
   margin: 0 auto;
}

.guestSearch {
   padding: 50px 0;
   text-align: center;
}