.guestSearch {
   text-align: right;
   position: relative;
}

.guestSearchForm {
   width: 300px;
   margin-left: auto;
   position: absolute;
   top: 0;
   right: 0;  
   z-index: 20;
}

.guestSearchBar {
   background: none;
   border: none;
   border-bottom: 2px solid $black;
   text-align: left;
   margin-left: 10px;
   &Form {
      text-align: center;
   }
   &::placeholder {
      @include textFont(16);
      color: black;
      opacity: 0.8;
   }
}

.guestSearchButton {
   border-radius: 50px;
   padding: 10px 35px;
   background: $accent;
   color: $white;
   transition: all 0.25s ease;
   margin-top: 20px;
   box-shadow: 2px 2px 2px $gray;
   &:hover {
      background: $gray;
   }
}

.filteredResults {
   border: 1px solid $lightgray;
   border-top: none;
   border-bottom: none;
   margin-right: 27px;
   margin-left: 25px;
   box-shadow: 1px 1px 2px $gray;
}

.filteredResults li {
   @include textFont(16);
   border-bottom: 1px solid $lightgray;
   color: $black;
   background: $white;
   line-height: 2;
   text-align: left;
   padding: 5px 15px;
   &:hover,
   &:focus,
   &:active {
      background: $secondary;
   }
}

.searchIcon {
   background: none;
   border: none;
   padding-right: 0;
}
