.contributionAmount {
   border-radius: 25px;
   margin: 0 auto;
   padding: 35px;
   width: 80%;
   input {
      width: 100%;
      padding: 10px 20px;
      margin: 8px 0 20px 0;
      border: 1px solid $gray;
      border-radius: 50px;
      transition: all ease 0.2s;
      &[type=submit] {
         background: $accent;
         border: none;
         color: white;
         box-shadow: 2px 2px 2px $gray;
         &:hover {
            background: rgb(126, 1, 44);
         }
      }
   }
   label {
       display: block;
   }
   select {
    border: 1px solid $lightgray;
    margin:10px 0 20px 0;
    width: 50%;
   }
}

.ideas {
   margin: 0 auto;
}
.ideaContainer {
   margin: 10px;
   border-radius: 25px;
   border: 1px solid $gray;
   width: calc;
   display: inline-block;
   background: white;
   text-align: center;
   p {
      @include textFont(16);
   }
}

