@media (max-width: 1650px) {

.homeTitle {
    @include headingFont(80);
    padding-top: 40vh;
}

.signInUp {
  width: 40%;
}

}


@media (max-width: 1100px) {
    .signInUp {
        width: 50%;
    }
}

@media (max-width: 969px) {
    .homeTitle {
        @include headingFont(70);
    }

    .registryForm {
        padding: 40px;
    }

}


@media (max-width: 900px) {
    // .registryHeader {
    // background-image: none;
    // }

    .homeTitle {
    @include headingFont(65);
    }

    .signInUp {
    width: 55%;
    }
}

@media (max-width: 840px) {
    // nav h1
    .first {
        display: none;
    }

    .second {
        display: block;
    }
}


@media (max-width: 800px) {

    .signInUpText {
        @include headingFont(24);
    }

    .signInUp {
        width: 65%;
        @include textFont(14);
    }

    .registryForm, .contributionAmount, .ideasForm {
        width: 100%;
        padding: 20px 50px;
        @include textFont(16);
        input {
            margin: 2px 0 15px 0;
        }
    }

    // Registry Idea Form 
    .ideasForm label,
    .ideasForm select {
        text-align: center;
    }

}

@media (max-width: 780px) {
    .homeTitle {
        @include headingFont(60);
    }
}

@media (max-width: 720px) {
    .homeTitle {
        @include headingFont(55);
    }
    .homeDescription {
        @include textFont(18);
        margin-bottom: 30px;
    }
    .homeButton {
        @include textFont(18);
    }
}


@media (max-width: 680px) {
    .homeTitle {
        @include headingFont(50);
    }

    .homeDescription {
        @include textFont(17);
    }

    .registryHeader {
        padding: 20px;
    }

    .ideaListItem {
        margin: 20px 0;
    }

    .ideaPopUp {
        width: 90%;
    }

    .searchList a {
        padding: 20px;
    }

    .registryForm {
        padding: 20px;
    }

    // Registry PopUp
    .ideaPopUp .info {
        @include textFont(18);
    }
}


@media (max-width: 610px) {
    .homeTitle {
        @include headingFont(48);
    }

    .signInUp {
        width: 80%;
        padding: 20px;
        margin: 0;
        input {
            margin: 2px;
        }
    }

    // Nav
    .navH1 {
        @include headingFont(24);  
    }

    .guestSearchForm {
        width: 180px;
    }

    .guestSearchBar {
        width: 150px;
        @include textFont(16);
        &::placeholder {
            @include textFont(14);
        }
    }

    .searchIcon {
        @include textFont(17);
    }

    .filteredResults {
        width: 150px;
        right: 0;
        margin-left: 0;
        margin-right: 10px;
    }

    .signOut {
        @include textFont(16);
    }

    .deleteAlert {
        width: 90%;
        margin: 0 auto;
    }

    // Registry dashboard 
    .registryInnerWrapper {
        padding: 35px;
    }
}

@media (max-width: 585px) {
    .homeTitle {
        @include headingFont(40);
    }

    .homeDescription,
    .homeButton {
        @include textFont(16);
    }

    .registryDashboard {
        p {
            text-align: center;
        }
        h2 {
            @include headingFont(30);
        }
    }

    .registryInnerWrapper {
        padding: 35px 0;
    }
}


@media (max-width: 485px) {
    .homeTitle {
    @include headingFont(32); 
    }

    .homeButton {
        display: block;
        width: 90%;
        margin: 10px auto;
    }

    .registryHeader {
        padding: 30px;
        h2{
            @include headingFont(35); 
        }
    }

    .navH1 {
        display: none;
    }

    nav {
        background: lighten($secondary, 14%);
    } 
    ul {
        width: 100%;
        justify-content: space-around;
        align-items: center;
        .signOut {
            margin: 0;
        }
    }

    // Registry Page 
    .ideas main h2 {
        @include headingFont(28);
    }
}



@media (max-width: 385px) {
    .homeTitle {
        @include headingFont(26); 
        margin-bottom: 20px;
    }

    .homeDescription {
        span {
            display: none;
        }
    }

    .homeSignIn {
        background: $white;
    }

    .homeButton {
        padding: 7px 30px;
    }

    .signInUpText {
        @include headingFont(22);
    }

    .signInUp {
        top: 5vh;
    }

    .ideas .ideaContainer {
        min-width: 250px;
        max-width: 250px;
        p {
            @include textFont(16);
        }
    }
}

@media (max-width: 344px) {
    .deleteAlert button {
        margin: 0 0 10px 0;
    }
}