nav {
   background: $black;
   padding: 15px 0;
   ul {
      float: right;
      li, p {
         display: inline;
         vertical-align: middle;
      }
      p {
         @include font-size(18);
         color: $white;  
         margin: 0; 
         padding-top: 5px;
      }
   }
   
}

h1 {
   @include font-size(30);
   margin: 0;
   float: left;
   color: $white;
}

.signInOut {
   float: right;
   color: $white;
   border: 1px solid $white;
   padding: 5px 10px;
   border-radius: 5px;
   background: none;
   font-weight: bold;
   margin-left: 15px;
   &:hover {
      color: $accent;
      border: 1px solid $accent;
   }
}
