.registryDashboard {
   text-align: center;
   background: $accent;
   height: calc(80vh - 72px);
}
.createRegistry {
   display: block;
   margin-top: 0 auto;
   padding: 50px 60px;
   border: none;
   border-radius: 5px;
   background: $secondary;
   color: $black;
   &:hover {
      background: $gray;
      color: $white;
   }
}

.registryForm {
   text-align: left;
}

.registry {
   color: $black;
   padding: 50px 60px;
   border: 1px solid $black;
   border-radius: 5px;
   display: inline-block;
   margin-bottom: 50px;
   margin-right: 10px;
   &:hover {
      background: $gray;
   }
}