h2 {
   @include headingFont(36);
   margin-top: 75px;
}

.registryDashboard {
   text-align: center;
}
.createRegistry {
   display: block;
   margin: 20px auto 0 auto;
   line-height: 1;
   padding: 0 40px;
   border: none;
   border-radius: 50px;
   background: $accent;
   color: $white;
   @include textFont(60);
   box-shadow: 2px 2px 2px $gray;
   div {
      @include textFont(20);
      padding-bottom: 25px;
   }
   &:hover {
      background: $gray;
      color: $white;
   }
}

.registryForm {
   text-align: center;
   margin: 100px;
   width: 80%;
   border-radius: 25px;
   margin: 50px auto;
   padding: 35px;
   background: white;
   box-shadow: 0px 0px 20px $gray;
   z-index: 100;
   p {
      margin: 20px auto 0 auto;
   }
   label {
      padding: 20px auto 0 auto; 
   }
   input {
      width: 100%;
      padding: 10px 20px;
      margin: 8px 0;
      border: 1px solid $gray;
      border-radius: 50px;
      transition: all ease 0.2s;
      &[type=submit] {
         background: $accent;
         border: none;
         color: white;
         box-shadow: 2px 2px 2px $gray;
         &:hover {
            background: rgb(126, 1, 44);
            color: white;
         }
      }
   }
}

.registry {
   position: relative; 
   min-width: 250px;
   width: calc((100% / 3) - 30px);
   height: 250px;
   color: $black;
   background: url(../assets/bgImg.jpg);
   background-position: center;
   background-size: cover;
   border: 1px solid black;
   border-radius: 5px;
   display: inline-block;
   margin-bottom: 50px;
   margin-right: 10px;
   box-shadow: 2px 2px 2px $gray;
   h3 {
      @include headingFont(22);
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 80%;
      color: $black;
   }
   &Link {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      background: rgba(255, 255, 255, 0.1);
      &:hover {
         background: rgba(186, 2, 66, 0.2);
      }
   }
   &Delete {
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 10;
      cursor: pointer;
   }
}