h2 {
   @include headingFont(36);
}

.registryDashboard {
   text-align: center;
   margin-top: 100px;
}
.createRegistry {
   display: block;
   margin: 20px auto 0 auto;
   line-height: 1;
   padding: 0 40px;
   border: none;
   border-radius: 50px;
   background: $accent;
   color: $white;
   @include textFont(60);
   box-shadow: 2px 2px 2px $gray;
   div {
      @include textFont(20);
      padding-bottom: 25px;
   }
   &:hover {
      background: $gray;
      color: $white;
   }
}

.registryForm {
   text-align: center;
   margin: 100px;
   width: 80%;
}

.registry {
   color: $black;
   border: 1px solid $black;
   border-radius: 50px;
   display: inline-block;
   margin-bottom: 50px;
   margin-right: 10px;
   width: 100%;
   background: $lightgray;
   box-shadow: 2px 2px 2px $gray;
   &:hover {
      background: $gray;
   }
}