.searchPage {
    background:lighten($lightgray, 14%);
    min-height: 100vh;
}

.searchList {
    padding-top: 50px;
    h4 {
        @include headingFont(24);
    }
    .registryLink {
        @include buttonPress(2px, 2px, $gray);
        color: $black;
        margin: 10px 0;
        border-radius: 5px;
        border: 1px solid $gray;
        padding: 5px 35px;
        width: 100%;
        display: inline-block;
        background: none;  
        box-shadow: 0px 0px 10px $gray;
        &:hover {
            background: lighten($secondary, 20%);
            box-shadow: 0px 0px 10px $darkergray;
        }
        &:last-child {
        margin-bottom: 50px;
    }
    }
}

.noResults {
    @include headingFont(25);
    text-align: center;
    padding-top: 10vh;
    svg {
        max-width: 50px;
    }
}
