.signInUp {
   border-radius: 10px;
   width: 25%;
   margin: 50px auto 0 auto;
   padding: 35px;
   position: absolute;
   top: 15vh;
   left: 50%;
   transform: translateX(-50%);
   background: white;
   box-shadow: 0px 0px 20px $darkgray;
   z-index: 100;
   input {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      border: 1px solid $gray;
      border-radius: 10px;
      transition: all ease 0.2s;
      &[type=submit] {
         background: $accent;
         border: none;
         color: white;
         box-shadow: 2px 2px 2px $gray;
         &:hover {
            background: rgb(126, 1, 44);
            color: white;
         }
      }
   }
}

.signInUpText {
   @include headingFont(30);
}

.signInForm {
   top: 20vh;
}

.signInEmail {
   p {
      text-align: center;
      margin-top: 0;
      font-weight: bold;
   }
   button {
      position: absolute;
      top: 10px;
      right: 10px;
      border: none;
      background: none;
      font-weight: bold;
   }
}

.or {
   @include textFont(16);
   position: relative;
   text-align: center;
   border-top: 1px solid $gray;
   margin: 15px 0;
   span {
      position: absolute;
      color: $gray;
      top: -13px;
      left: 50%;
      transform: translateX(-50%);
      background: white;
      padding: 0 10px;
      z-index: 1;
   }
}

.popUpBg {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   z-index: 2;
}

.popUpVisible {
   background: rgba(0,0,0,0.3);
}
