.signInUp {
   border-radius: 25px;
   width: 25%;
   margin: 50px auto 0 auto;
   padding: 35px;
   position: absolute;
   top: 15vh;
   left: 50%;
   transform: translateX(-50%);
   background: white;
   box-shadow: 0px 0px 20px $darkgray;
   z-index: 100;
   input {
      width: 100%;
      padding: 10px 20px;
      margin: 8px 0;
      border: 1px solid $gray;
      border-radius: 50px;
      transition: all ease 0.1s;
      &[type=submit] {
         background: $accent;
         border: none;
         color: white;
         @include buttonPress(1.5px, 2px, $gray);
         &:hover {
            background: rgb(126, 1, 44);
            color: white;
         }
      }
   }
}

.signInUpText {
   @include headingFont(30);
   margin: 25px 0;
   padding-top: 15px;
}

// .signInForm {
//    top: 25vh;
// }

.signInEmail {
   p {
      text-align: center;
      margin-top: 0;
      font-weight: bold;
   }
   .closeIcon {
      position: absolute;
      top: 25px;
      right: 35px;
      border: none;
      background: none;
      font-weight: bold;
      cursor: pointer;
   }
}

.or {
   @include textFont(16);
   position: relative;
   text-align: center;
   border-top: 1px solid $gray;
   margin: 15px 0;
   span {
      position: absolute;
      color: $gray;
      top: -13px;
      left: 50%;
      transform: translateX(-50%);
      background: white;
      padding: 0 10px;
      z-index: 1;
   }
}

.popUpBg {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 2;
}

.popUpVisible {
   background: rgba(0,0,0,0.3);
}
