$primary: rgb(0, 96, 79);
$secondary: rgb(169, 217, 181);
$accent: rgb(186, 2, 66);

$black: rgb(39, 39, 39);
$white: rgb(250, 248, 248);
$lightgray: lightgray;
$gray: rgb(163, 162, 162);
$darkgray: rgb(70, 70, 70);
$darkergray: rgb(36, 36, 36);
