/* GENERAL STYLING */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

img {
  max-width: 100%; }

html {
  font-size: 62.5%; }

body {
  font-size: 20px;
  font-size: 2rem; }

.outerWrapper {
  width: 85%;
  margin: 0 auto; }

.innerWrapper {
  width: 80%;
  margin: 0 auto; }

.guestSearch {
  padding: 50px 0;
  text-align: center; }

nav {
  background: #272727;
  padding: 15px 0; }
  nav ul {
    float: right; }
    nav ul li, nav ul p {
      display: inline;
      vertical-align: middle; }
    nav ul p {
      font-size: 18px;
      font-size: 1.8rem;
      color: #ebebeb;
      margin: 0;
      padding-top: 5px; }

h1 {
  font-size: 30px;
  font-size: 3rem;
  margin: 0;
  float: left;
  color: #ebebeb; }

.signInOut {
  float: right;
  color: #ebebeb;
  border: 1px solid #ebebeb;
  padding: 5px 10px;
  border-radius: 5px;
  background: none;
  font-weight: bold;
  margin-left: 15px; }
  .signInOut:hover {
    color: #ba0242;
    border: 1px solid #ba0242; }

.signInUp {
  border: 1px solid #a3a2a2;
  border-radius: 5px;
  width: 50%;
  margin: 50px auto 0 auto;
  padding: 35px; }
  .signInUp input {
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    border: 1px solid lightgray;
    border-radius: 5px;
    transition: all ease 0.2s; }
    .signInUp input[type=submit] {
      background: #a9d9b5;
      border: none; }
      .signInUp input[type=submit]:hover {
        background: #00614f;
        color: #ebebeb; }

.signInForm {
  position: absolute;
  top: 5vh;
  left: 25%;
  background: white;
  z-index: 100; }

.signInEmail p {
  text-align: center;
  margin-top: 0;
  font-weight: bold; }

.signInEmail button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-weight: bold; }

.or {
  font-size: 16px;
  font-size: 1.6rem;
  position: relative;
  text-align: center;
  border-top: 1px solid lightgray;
  margin: 15px 0; }
  .or span {
    position: absolute;
    color: #a3a2a2;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 0 10px;
    z-index: 1; }

.popUpBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2; }

.popUpVisible {
  background: rgba(0, 0, 0, 0.3); }

.guestSearchBar {
  border-radius: 100px;
  border: 1px solid lightgray;
  padding: 15px 100px 15px 15px;
  margin: 25px 0 0 10px;
  text-align: left; }
  .guestSearchBarForm {
    text-align: center; }

.registryDashboard {
  text-align: center;
  margin-top: 50px; }

.createRegistry {
  display: block;
  margin-top: 0 auto;
  padding: 50px 60px;
  border: none;
  border-radius: 5px;
  background: #a9d9b5;
  color: #272727; }
  .createRegistry:hover {
    background: #a3a2a2;
    color: #ebebeb; }

.registryForm {
  text-align: left; }

.registry {
  color: #272727;
  padding: 50px 60px;
  border: 1px solid #272727;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 50px;
  margin-right: 10px; }
  .registry:hover {
    background: #a3a2a2; }
