/* GENERAL STYLING */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

img {
  max-width: 100%; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-size: 2rem;
  background: #ebebeb; }

.outerWrapper {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto; }

.innerWrapper {
  width: 80%;
  margin: 0 auto; }

.guestSearch {
  padding: 50px 0;
  text-align: center; }

.homePage {
  height: 100vh;
  text-align: center;
  position: relative; }

.homeBgImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url(../assets/bgImg.jpg);
  background-size: cover;
  background-position: right;
  filter: contrast(80%); }

.homeTitle {
  font-family: 'Playfair Display', serif;
  font-size: 100px;
  font-size: 10rem;
  margin-top: 0;
  margin-bottom: 40px;
  padding-top: 35vh;
  text-align: center;
  letter-spacing: 3px;
  color: #242424; }

.homeDescription {
  margin-bottom: 50px; }

.homeButton {
  border-radius: 50px;
  padding: 15px 35px;
  background: none;
  color: #242424;
  transition: all 0.25s ease; }
  .homeButton:hover {
    background: #a3a2a2; }

.homeSignIn {
  margin-right: 20px;
  background: #ebebeb;
  box-shadow: 2px 2px 2px #a3a2a2; }

.homeSignUp {
  margin-left: 20px;
  background: #ba0242;
  color: #ebebeb;
  box-shadow: 2px 2px 2px #a3a2a2; }

nav {
  background: #00614f;
  padding: 15px 0; }
  nav ul {
    float: right; }
    nav ul li, nav ul p {
      display: inline;
      vertical-align: middle; }
    nav ul p {
      font-family: 'Open Sans', sans-serif;
      font-size: 22px;
      font-size: 2.2rem;
      color: #ebebeb;
      margin: 0;
      padding-top: 15px; }

.navH1 {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-size: 3rem;
  padding-top: 5px;
  margin: 0;
  float: left;
  color: #ebebeb;
  letter-spacing: 1px; }

.signOut {
  float: right;
  border: 3px solid #ebebeb;
  border-radius: 50px;
  padding: 10px 35px;
  background: none;
  color: #ebebeb;
  transition: all 0.25s ease;
  font-weight: bold;
  margin-left: 15px; }
  .signOut:hover {
    color: #ba0242;
    border: 3px solid #ba0242; }

.signInUp {
  border-radius: 25px;
  width: 25%;
  margin: 50px auto 0 auto;
  padding: 35px;
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  box-shadow: 0px 0px 20px #464646;
  z-index: 100; }
  .signInUp input {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    border: 1px solid #a3a2a2;
    border-radius: 50px;
    transition: all ease 0.2s; }
    .signInUp input[type=submit] {
      background: #ba0242;
      border: none;
      color: white;
      box-shadow: 2px 2px 2px #a3a2a2; }
      .signInUp input[type=submit]:hover {
        background: #7e012c;
        color: white; }

.signInUpText {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-size: 3rem;
  margin: 25px 0;
  padding-top: 15px; }

.signInForm {
  top: 25vh; }

.signInEmail p {
  text-align: center;
  margin-top: 0;
  font-weight: bold; }

.signInEmail .closeIcon {
  position: absolute;
  top: 25px;
  right: 35px;
  border: none;
  background: none;
  font-weight: bold;
  cursor: pointer; }

.or {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  position: relative;
  text-align: center;
  border-top: 1px solid #a3a2a2;
  margin: 15px 0; }
  .or span {
    position: absolute;
    color: #a3a2a2;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 0 10px;
    z-index: 1; }

.popUpBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2; }

.popUpVisible {
  background: rgba(0, 0, 0, 0.3); }

.guestSearchBar {
  border-radius: 100px;
  border: 1px solid #242424;
  padding: 15px 100px 15px 15px;
  margin: 75px 0 0 10px;
  text-align: left;
  width: 800px; }
  .guestSearchBarForm {
    text-align: center; }

.guestSearchButton {
  border-radius: 50px;
  padding: 10px 35px;
  background: #ba0242;
  color: #ebebeb;
  transition: all 0.25s ease;
  margin-top: 20px;
  box-shadow: 2px 2px 2px #a3a2a2; }
  .guestSearchButton:hover {
    background: #a3a2a2; }

.guestSearchForm li {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  width: 40%;
  margin: 0 auto;
  color: #272727;
  background: lightgray;
  border-bottom: 1px solid #a3a2a2;
  border-top: 1px solid #a3a2a2; }

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-size: 3.6rem; }

.registryDashboard {
  text-align: center;
  margin-top: 100px; }

.createRegistry {
  display: block;
  margin: 20px auto 0 auto;
  line-height: 1;
  padding: 0 40px;
  border: none;
  border-radius: 50px;
  background: #ba0242;
  color: #ebebeb;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-size: 6rem;
  box-shadow: 2px 2px 2px #a3a2a2; }
  .createRegistry div {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-size: 2rem;
    padding-bottom: 25px; }
  .createRegistry:hover {
    background: #a3a2a2;
    color: #ebebeb; }

.registryForm {
  text-align: center;
  margin: 100px;
  width: 80%;
  border-radius: 25px;
  margin: 50px auto;
  padding: 35px;
  background: white;
  box-shadow: 0px 0px 20px #a3a2a2;
  z-index: 100; }
  .registryForm p {
    margin: 20px auto 0 auto; }
  .registryForm label {
    padding: 20px auto 0 auto; }
  .registryForm input {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    border: 1px solid #a3a2a2;
    border-radius: 50px;
    transition: all ease 0.2s; }
    .registryForm input[type=submit] {
      background: #ba0242;
      border: none;
      color: white;
      box-shadow: 2px 2px 2px #a3a2a2; }
      .registryForm input[type=submit]:hover {
        background: #7e012c;
        color: white; }

.registry {
  color: #272727;
  border: 1px solid #272727;
  border-radius: 50px;
  display: inline-block;
  margin-bottom: 50px;
  margin-right: 10px;
  width: 100%;
  background: lightgray;
  box-shadow: 2px 2px 2px #a3a2a2; }
  .registry:hover {
    background: #a3a2a2; }

.contributionTitle {
  text-align: center;
  margin: 50px 0 0 0; }

.contributionDate {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-size: 3.2rem;
  color: #00614f;
  margin-top: 0; }

.contributionAmount {
  border-radius: 25px;
  margin: 0 auto;
  padding: 35px;
  width: 80%; }
  .contributionAmount input {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    border: 1px solid #a3a2a2;
    border-radius: 50px;
    transition: all ease 0.2s; }
    .contributionAmount input[type=submit] {
      background: #ba0242;
      border: none;
      color: white;
      box-shadow: 2px 2px 2px #a3a2a2; }
      .contributionAmount input[type=submit]:hover {
        background: #7e012c; }

.ideaContainer {
  margin: 100px 20px;
  border-radius: 25px;
  border: 1px solid #a3a2a2;
  padding: 25px;
  width: 250px;
  display: inline-block;
  background: white; }

@media (max-width: 1650px) {
  .homeTitle {
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    font-size: 10rem;
    padding-top: 40vh; } }

@media (max-width: 1100px) {
  .homeTitle {
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    font-size: 8rem; } }

@media (max-width: 900px) {
  .homeTitle {
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    font-size: 7rem;
    padding-top: 30vh; } }

@media (max-width: 800px) {
  .homeTitle {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-size: 6rem; } }

@media (max-width: 680px) {
  .homeTitle {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-size: 5rem;
    padding-top: 20vh; }
  .homeDescription {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-size: 1.8rem; } }

@media (max-width: 575px) {
  .homeTitle {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-size: 4rem;
    padding-top: 10vh; } }

@media (max-width: 485px) {
  .homeTitle {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-size: 3.2rem;
    padding-top: 10vh; }
  .homeButton {
    display: block;
    margin: 20px auto; } }

@media (max-width: 385px) {
  .homeTitle {
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    font-size: 2.6rem;
    margin-bottom: 20px; }
  .homeDescription {
    margin-bottom: 10px; }
    .homeDescription span {
      display: none; }
  .homeSignIn {
    background: #ebebeb; }
  .homeButton {
    padding: 10px 30px; } }
